#header
  = image_tag "admin/logo-header.gif"
  %ul#navigation
    %li.navItem
      = link_to 'Back', admin_issues_path
  = link_to "Logout", session_path, :method => :delete, :id => "logoutLink"

#content
  #formWrapper
    - form_for([:admin, @issue], :html => { :multipart => true }) do |f|
      = f.error_messages
      %p
        = f.label :published
        = f.date_select :published, :order => [:month, :day, :year]
      %p
        = f.label :show
        = f.check_box :show
      %p
        = f.label :cover
        = f.file_field :cover
      %p
        = f.label :cover_caption
        = f.text_area :cover_caption

      - fields_for(@contributor) do |cf|
        = cf.error_messages
        = hidden_field :contributor, :contributor_type_id
        %p
          = cf.label :name, "Photographer"
          = cf.text_field :name
        %p
          = cf.label :bio
          = cf.text_area :bio

      %p
        = f.submit 'Create'
