!!! Strict
%html{ :xmlns=> "http://www.w3.org/1999/xhtml", :class => ("admin" if (request.path_parameters[:controller].include? "admin")) }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :name => "viewport", :content=> "width = device-height; maximum-scale = 1.0; minimum-scale = 0.75" }
    %link{ :rel => "icon", :type => "image/x-icon", :href => (image_path "favicon.ico") }
    %link{ :rel => "shortcut icon", :type => "image/x-icon", :href => (image_path "favicon.ico") }
    <!--[if ! lte IE 6]><!-->
    = stylesheet_link_tag "compiled/screen.css", :media => "screen, projection"
    <!--<![endif]-->
    = stylesheet_link_tag "compiled/print.css", :media => "print"
    /[if IE 7]
      = stylesheet_link_tag "compiled/ie.css", :media => "screen, projection"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    / = javascript_include_tag "jquery"
    <!--[if ! IE ]><!-->
    = javascript_include_tag "jquery.animatetoselector"
    = javascript_include_tag "featuresAnimation"
    = javascript_include_tag "webKitAnimation"
    <!--<![endif]-->
    = javascript_include_tag "helpers"
    %title
      != (title rescue (@article.headline rescue ((request.path_parameters[:controller] == "issues" && request.path_parameters['action'] == "latest") ? "Home" : @issue.name))) + " &ndash; Wisconsin Engineer Magazine" + (request.path_parameters[:controller] == "admin" ? " &ndash; Admin" : "")
  %body{ :class => request.path_parameters[:controller] + " " + request.path_parameters[:action] }
    = render :partial => "issues/header", :locals => { :headerText => "Published by the Students of the University of Wisconsin-Madison" }
    #wrapper
      - if request.path_parameters[:controller].include? "admin"
        = render :partial => "admin/issues/navigation"
      - else
        = render :partial => "issues/navigation"
      = yield
      = render :partial => "issues/footer"
    #footnotes
      %a#validation{ :href => "http://validator.w3.org/check?uri=referer" } XHTML 1.0 Strict
      /[if lte IE 7]
        &middot;&nbsp;
      / =link_to "Browser Requirements", :controller => :static_pages, :action => :browser
    = google_analytics
